<div class="search-box pt-3">
    <input type="text" class="form-control" placeholder="Search Group" [(ngModel)]="searchText">
</div>

<div class="pt-3">
    <div class="list-groups">
        <ul class="list-group list-group-flush"  *ngIf="groups.length > 0">
            <li class="list-group-item pt-3 d-flex justify-content-between align-items-center" *ngFor="let group of groups | filter: searchText; let i = index">
                <div class="group-content">
                    <p class="mb-0">{{group.name}}</p>
                    <p class="text-black-50">{{group.description}}</p>
                    <p class="text-black-50">Channels# {{group.channels}}</p>
                </div>
                <div class="actions">
                    <a class="btn btn-primary me-2" (click)="navigateToChannel(group.id)">View</a>
                    <a href="#" class="btn btn-warning me-2">Join</a>
                    <a href="#" class="btn btn-info me-2">Interested</a>
                    <a href="#" class="btn btn-danger">Leave Group</a>
                </div>
            </li>
        </ul>
    
        <div class="no-msg" *ngIf="groups.length == 0">
            <img src="https://shorturl.at/aeEK6" alt="No Groups" srcset="https://shorturl.at/aeEK6">
        </div>
    </div>
</div>